body {
    color: #2c2c2c
}
.panel-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.panel-button {
    background: none;
    border: 1px solid #dcdcdc;
    border-radius: 2.5em;
    padding: 15px;
    font-size: larger;
    cursor: pointer;
}

.panel-button:active {
    background-color: #ededed
}

.button-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}