body {
    color: #2c2c2c
}

#main-content {
    padding: 20px;
}

.panel-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.panel-button {
    background: none;
    border: 1px solid #dcdcdc;
    border-radius: 2.5em;
    padding: 15px;
    font-size: larger;
    cursor: pointer;
}

.panel-button:active {
    background-color: #ededed
}

.button-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.hints-table {
    width: 100%;
    text-align: center;
}

.hints-table td {
    border-radius: 5px;
    padding: 10px;
    font-size: smaller;
}

.hints-table th {
  padding: 10px;
}

.hints-missing {
    background-color: rgb(240, 184, 174);
}
.hints-progress {
    background-color: rgb(234, 213, 162);
}
.hints-complete {
    background-color: rgb(119, 185, 119)
}


.answers-table {
    border-collapse: collapse;
    text-transform: capitalize;
    width: 100%;
}

.answers-table td {
    padding: 10px;
}

.answers-table a {
    text-transform: none;
}


.hidden {
    display: none;
}

.shown {
    display: block;
}