body {
    background-color: #2c2c2c;
    color: #eeeeee;
    font-family: monospace;
}


#main-content {
    padding: 10px;
    font-family: monospace;
}

.panel-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
}

.panel-button {
    font-family: monospace;
    background-color: #eeeeee;
    color: #2c2c2c;
    border: 1px solid #dcdcdc;
    border-radius: 2.5em;
    padding: 15px;
    font-size: larger;
    cursor: pointer;
}

.panel-button:active {
    background-color: #ededed
}

.button-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.hints-table {
    width: 100%;
    text-align: center;
}

.hints-table td {
    border-radius: 5px;
    padding: 10px;
    font-size: smaller;
    color: #2c2c2c;

}

.hints-table th {
  padding: 10px;
  font-size: larger;
}

.hints-missing {
    background-color: rgb(212 136 122);
}
.hints-progress {
    background-color: rgb(230, 195, 110);
}
.hints-complete {
    background-color: rgb(119, 185, 119)
}


.answers-table {
    border-collapse: collapse;
    text-transform: capitalize;
    width: 100%;
}

.answers-table td {
    padding: 10px;
}

.answers-table a {
    text-transform: none;
}


.hidden {
    display: none;
}

.shown {
    display: block;
}

#two-letter-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    padding: 10px;
}

.two-letter-box {
    padding: 15px;
    border-radius: 5px;
    margin: 2px;
    color: #2c2c2c
}

.two-letter-text {
    font-family: monospace;
    text-transform: uppercase;
    font-weight: bold;
    font-size: large;
}